.jumbotron{    
    margin-bottom:2%;    
    background-color: rgb(41, 41, 49);
    color: lightcyan;
    padding: 2%;    
}

input{
    background-color: lightcyan;
}

.border-r{
    border-right: 1px solid gray;
}

.border-b{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

hr{    
    border-color: lightgray;
}

.username{
    font-size: x-large;
    color: orange;
}

.orange{
    color: orange;
}

img{
    max-width: 60%;    
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 5px 10px rgb(136, 136, 136, 0.4)
}

.text-style{
    font-size: smaller;
}

