<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row border-b">
                <div class="col-12 col-md-4">
                    <form>
                        <div class="row">
                            <div class="col-11 form-group">
                                <input class="form-control" type="text" name="searchUser" id="searchUser" placeholder="Search user" required>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-info" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 border-r">
                    <h4>User</h4>
                    <hr>
                    <ul>
                        <li class="username">Collin9726</li>
                    </ul>
                    <p>Picture</p>                                        
                </div>
                <div class="col-12 col-md-6 border-r">
                    <h4>Profile</h4>
                    <hr>
                    <h6>Followers</h6>
                    <p class="orange">10</p>
                    <h6>Following</h6>
                    <p class="orange">20</p>
                </div>                
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Repositories</h4>
                    <hr>
                </div>
                <div class="col-12 col-md-4">
                    <ul>
                        <li>One</li>
                        <li>One</li>
                        <li>One</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
