<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row border-b">
                <div class="col-12 col-md-5">
                    <form (ngSubmit)='submitRepoName()' #repoNameForm='ngForm'>
                        <div class="row">
                            <div class="col-11 form-group">
                                <input class="form-control" type="text" name="searchRepo" id="searchRepo" [(ngModel)]="searchedRepo.repoName" #searchRepo='ngModel' placeholder="Search repository" required>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Repos: {{totalCount.totalRepos}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h4>Repositories</h4>
                </div>
            </div>
            <div class="row mb-4 min-height">
                <div *ngFor='let repo of repos' class="col-12 col-md-4 mb-4">
                    <div class="card" appRepoHighlight>
                        <div class="card-body text-style">
                            <a href="{{repo.repoLink}}"><h5 class="card-title">{{repo.repoName}}</h5></a>
                            <h6 class="card-subtitle mb-2 text-muted">{{repo.language}}</h6>
                            <p class="card-text">{{repo.description}}</p>
                            <div>
                                Owner: <a href="{{repo.ownerLink}}">{{repo.owner}}</a><br>
                                Created: {{repo.createdAt | datePipe}}<br>
                                Last update: {{repo.lastUpdated | datePipe}}<br>
                                License: {{repo.license}}<br>
                                Forks: {{repo.forks}}
                            </div>
                        </div>
                    </div>
                </div>                                                
            </div>            
        </div>
    </div>
</div>
