.jumbotron{    
    margin-bottom:2%;    
    background-color: rgb(0, 0, 0, 0.9);
    color: lightcyan;
    padding: 2%;
    background-image: url('https://media2.giphy.com/media/kBT8T9yaHWucie70BX/100w.gif?cid=2372fa117418c083c9275651300c597751a4868ce82d266e&rid=100w.gif'); 
    background-position: center;
    background-repeat: no-repeat;   
}

input{
    background-color: lightcyan;
}

.border-r{
    border-right: 1px solid gray;
}

.border-b{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

hr{    
    border-color: lightgray;
}

.orange{
    color: orange;
}

.text-style{
    font-size: smaller;
}

.card{
    background-color: black;
    height: 100%;
}

.jumbotron a{
    text-decoration: none;
    color: rgb(255, 165, 0, 0.8);
}

.jumbotron a:hover{
    color: cyan;
}

.min-height{
    min-height: 320px;
}

