<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row border-b">
                <div class="col-12 col-md-5">
                    <form (ngSubmit)='submitRepoName()' #repoNameForm='ngForm'>
                        <div class="row">
                            <div class="col-11 form-group">
                                <input class="form-control" type="text" name="searchRepo" id="searchRepo" [(ngModel)]="searchedRepo.repoName" #searchRepo='ngModel' placeholder="Search repository" required>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-info" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mb-4 text-style">
                <div class="col-12 col-md-6 border-r">
                    <h4>User</h4>
                    <hr>
                    <ul>
                        <a href="{{user.profileLink}}"><li class="username">{{user.username}}</li></a>
                    </ul>
                    <div class="picture text-center">
                        <img src="{{user.profPic}}" alt="avatar">
                    </div>                                        
                </div>
                <div class="col-12 col-md-6 border-r">
                    <h4>Profile</h4>
                    <hr>
                    <h6>Name</h6>
                    <p class="orange">{{user.name}}</p>
                    <h6>Followers</h6>
                    <p class="orange">{{user.followers}}</p>
                    <h6>Following</h6>
                    <p class="orange">{{user.following}}</p>
                    <h6>Joined GitHub</h6>
                    <p class="orange">{{user.joined}}</p>
                    <h6>Public Repos</h6>
                    <p class="orange">{{user.publicRepos}}</p>
                    <p>{{user.reposUrl}}</p>
                </div>                
            </div>
            <div class="row text-style">
                <div class="col-12 mb-4 text-center">
                    <h3>Repositories</h3>                    
                </div>
                <div *ngFor='let item of userRepos.repositoryNames;let i = index' class="col-12 col-md-4 mb-4">
                    <h6><a href="{{userRepos.repositoryLinks[i]}}">{{item}}</a></h6>
                    <hr>
                    <p>{{userRepos.repositoryDescriptions[i]}}</p>
                    <div>
                        Created: {{userRepos.repositoryCreated[i]}}<br>
                        License: {{userRepos.repositoryLicenses[i]}}<br>
                        Forks: {{userRepos.repositoryForks[i]}}
                    </div>                    
                </div>                    
            </div>
        </div>
    </div>
</div>
